* {
    box-sizing: border-box;
  }
  body {
    background-color: hsl(212, 45%, 89%);
  }
 .container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     /* width: 100%; */
     /* padding-bottom: 30px; */
     height: 800px;

 }
.whitebox{
    width: 40%;
    height: 90%;
    background-color:white;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgb(0 0 0 / 10%)
}
.image{
 
    width: 100%;
    padding-top: 30px;
    
   
    /* background-image: url('../qr-code-component-main/images/image-qr-code.png'); */

}
.qr{
    width: 90%;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.534);
 
    
}
.textone{
    
    color: hsl(218, 44%, 22%);
    font-weight: bold;
    font-size: 20px; 
    font-family: 'Outfit', sans-serif;
    padding-top: 40px;
    /* background-color: red; */
    width: 50%;
    margin: auto;
}
.texttwo{

    width:  50%;
    color: hsl(218, 44%, 22%);
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 40px;
    line-height: 1.4;
    margin: auto;
}

